<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 先引入 Vue -->
    <script src="../js/vue.js"></script>

    <script src="../js/jquery.min.js"></script>
    <link href="../js/bootstrap.min.css" rel="stylesheet">
    <script src="../js/bootstrap.min.js"></script>
</head>
<body>

<div id="app">
<select v-model="selected">
    <option v-for="option in options" v-bind:value="option.value">
        {{option.text}}
    </option>
</select>
    <p>选择的项目是:{{selected}}</p>
</div>

</body>

<script>

    var app = new Vue({
        el:"#app",
        data:{
            selected:"html",
            options:[
                {
                    text:"html",
                    value:"html"
                },
                {
                    text:"javascript",
                    value:"js"
                },
                {
                    text:"css",
                    value:"css"
                }
            ]
        }
    })

</script>

</html>